{% extends 'base.html' %}
{% block title %}Страница о нас{% endblock title %}
{% block content %}
  <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
    <div class="container">
      <div class="row">
        {{ flatpage.content|safe }}
      </div>
    </div>
  </section>
{% endblock content %}



{# Простая страница. Настройка идет через settings.py #}

{% comment %} settings.py
Installed apps = [
    ...
    'django.contrib.sites',
    'django.contrib.flatpages',
]

MIDDLEWARE = [
    ...
    'django.contrib.flatpages.middleware.FlatpageFallbackMiddleware'
]

SITE_ID = 1
{% endcomment %}

{% comment %} urls.py

urlpatterns = [
    ...
    path('pages/', include('django.contrib.flatpages.urls')),
]
{% endcomment %}

{% comment %} Админка

В URL указать адрес для страницы
В сайтах по умолчанию localhost:8000
В расширенных настройках нужно указать папку в templates и файл
Пример: pages/about.html
{% endcomment %}