{% load movie_tag %}
<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск фильма</h3>
    {% comment %} В form action='#' добавляем url, чтобы работала форма отправки и метод должен быть get, потому что получаем данные {% endcomment %}
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        {% comment %} Поле поиска называется q, тип кнопки - submit {% endcomment %}
        <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>
<!--preference -->
{# Создание формы для работы с views.py #}
<form action="{% url 'filter' %}" method="get">
    <div class="left-side my-4">
        <h3 class="sear-head editContent">Жанры</h3>
        <ul class="w3layouts-box-list">
            {% comment %} Обращение к view и вызов метода get_genres {% endcomment %}
            {% for genre in view.get_genres %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">
                    <span class="span editContent">{{ genre.name }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- // preference -->
    <!-- discounts -->

    <div class="left-side">
        <h3 class="sear-head editContent">Год</h3>
        <ul class="w3layouts-box-list">
            {% for movie in view.get_years %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{ movie.year }}">
                    {# Добавляем имя и значение, которое будет равно году #}
                    <span class="span editContent">{{ movie.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
    {# submit - для того чтобы можно было отправить форму #}
</form>
<!-- //discounts -->
<!-- reviews -->
<div class="customer-rev left-side my-4">
    <h3 class="sear-head editContent">Рейтинг</h3>
    <ul class="w3layouts-box-list">
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="editContent">5.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">4.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">2.5</span>
            </a>
        </li>
    </ul>
</div>
<!-- //reviews -->
{% get_last_movies count=3 %}
{% comment %} Вызов инклюжен тега, который передает сюда последние фильмы. {% endcomment %}
{% comment %} Для его работы нужно загрузить файл где находится тег {% load movie_tag %} {% endcomment %}