{% load static %}
{% load static recaptcha3 %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"
        media="all">
  <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
  <link
    href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700"
    rel="stylesheet">
  <link
    href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
    rel="stylesheet">
  <style>
    html {
      overflow-y: hidden;
      background-color: #f7f7f7;
    }

    form.w3layouts-newsletter {
      margin-bottom: 3em;
    }

    ul.errorlist {
      display: none;
    }
  </style>
{#  {% recaptcha_init %}#}
{#  {% recaptcha_ready action_name='homepage' %}#}
</head>

<footer class="mb-3">
  <h3 class="footer-title text-uppercase editContent mb-lg-4 mb-3">
    Новостная рассылка
  </h3>

  <p class="editContent">
    Подпишитесь на нас, вы всегда будете получать от нас последние новости и обновления.
  </p>
  <p>

    {# Отображение ошибок #}
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <div class="alert-danger">
            <small>{{ error|escape }}</small>
          </div>
        {% endfor %}
      {% endfor %}

      {# Если есть ошибки не связанные с полями #}
      {% for error in form.non_field_errors %}
        <div class="alert-danger">
          {{ error|escape }}
        </div>
      {% endfor %}
    {% endif %}
  {# Конец отображения ошибок #}

  <form action="{% url 'icontact' %}"
        method="post"
        class="w3layouts-newsletter">
    {% csrf_token %}
    {{ form }}
    <button class="btn1 btn ">
      <span class="fa fa-paper-plane-o" aria-hidden="true"></span>
    </button>
  </form>

</footer>
